
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Setup For Approving Drivers </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @if (TempData["ErrorMsg"] != null)
        {
            <alert class="alert alert-danger">@TempData["ErrorMsg"]</alert>
        }
        @if (TempData["SuccessMsg"] != null)
        {
            <alert class="alert alert-success">@TempData["SuccessMsg"]</alert>
        }
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Driver Scheme</th>
                    <th>Guarantor Optional For Verfication</th>
                    <th>Guarantor Optional For Approval Submission</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Setup</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="UpdateDriverApprovalSetup" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Driver Scheme</label>
                            <input type="hidden" class="form-control paramsId" name="id" id="paramsId">
                            <input type="text" class="form-control" name="driverscheme" id="driverscheme" placeholder="Enter Scheme">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Guarantor Optional For Verfication</label>
                            <select class="form-control" name="guarantorOptionalForVerfication" id="guarantorOptionalForVerfication" required>
                                <option value="">Select Option</option>
                                <option value="1">True</option>
                                <option value="0">False</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Guarantor Optional For Approval Submission</label>
                            <select class="form-control" name="guarantorOptionalForApprovalSubmission" id="guarantorOptionalForApprovalSubmission" required>
                                <option value="">Select Option</option>
                                <option value="1">True</option>
                                <option value="0">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function() {
        $('#example1').dataTable( {
            "processing": true,
            "serverSide": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "datatype": "json",
            "ajax": {
                "url": "@Url.Action("GetDriverApprovalSetup", "Admin")",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                { "data": "driverscheme" },
                { "data": "guarantorOptionalForVerfication" },
                { "data": "guarantorOptionalForApprovalSubmission" },
                {}
            ],
            columnDefs: [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": -1
                },{
                    "data": null,
                    "defaultContent": "",
                    "targets": -1
                },
                { targets : [2],
                    mRender: function (data, type, row, meta) {
                        if (row.guarantorOptionalForVerfication == "1") {
                            return "True";
                        } else {
                            return "False"
                        }
                    }
                },
                { targets : [3],
                    mRender: function (data, type, row, meta) {
                        if (row.guarantorOptionalForApprovalSubmission == "1") {
                            return "True";
                        } else {
                            return "False"
                        }
                    }
                },
                { targets : [4],
                    mRender: function (data, type, row, meta) {
                        return '<button class="btn btn-danger updateBtn" id="updateBtn" data-pid="'+row.id+'" data-driverscheme="'+row.driverscheme+'" data-statusid="1" data-toggle="modal" data-target="#modal-default">Edit</button>'
                    }
                }
            ],
            "lengthMenu": [[50, 100, 150, 200], [50, 100, 150, 200]],
        });
    });

    $(document).on('click', '.updateBtn', function (){
        var pid = $(this).data('pid');
        var driverscheme = $(this).data('driverscheme');
        $("#paramsId").val(pid);
        $("#driverscheme").val(driverscheme);
    })
</script>